 .h1{
 	background-color: red;
 }
 .box{
 	width: 50%;
 	height: 100px;
 	background-color: red;
 }
 .main{
    border: solid 5px ;
    color: black;

 }
.main2{
    background-color: coral;
}
.main3{
    background-color: lightblue;
}.main4{
    background-color: pink;
}